<header>
  <h1><a href="{{ '/' | relative_url }}">Rails Accessibility Testing</a></h1>
  <p>The RSpec + RuboCop of accessibility for Rails</p>
</header>

<nav>
  <a href="{{ '/' | relative_url }}">Home</a>
  <a href="{{ '/getting_started.html' | relative_url }}">Getting Started</a>
  <a href="{{ '/configuration.html' | relative_url }}">Configuration</a>
  <a href="{{ '/ci_integration.html' | relative_url }}">CI Integration</a>
  <a href="{{ '/contributing.html' | relative_url }}">Contributing</a>
</nav>

